*{margin: 0; padding: 0;  border: 0;
    list-style: none; text-decoration: none;
    font-family: 'NanumSquareRound', 'Noto Sans KR', 'Nanum Gothic',"돋움", Dotum, Arial, sans-serif;
}
.logo{
    margin-left: 20px;
    width: 200px;
    height: 150px;
}
.container{
    height: 130px;
    position: fixed;
    background-color: #fff;
    width: 50%;
    margin-bottom: 50px;
    opacity: 90%;
}
.dropdown{
    float: left;
    margin: 70px 20px 0 20px;
}
.container{
    float: left;
}
.logo{ 
    float: left;
}
header:after{
    display: block;
    content: "";
    clear: both;
}
span.info{
    display: inline-block;
    margin: 70px 20px 0 300px;
}


/* slider */
.slider{
    overflow: hidden;
    position: relative;
}

.slider ul{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
.slider img{
    width: 20%;
    float: left;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20% {
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300;
    }
    95%{
        left: -300;
    }
    100%{
        left: -400%;
    }
}

